/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#banner {
 	background: blue;
 	padding: 10px;
 	border-bottom: 2px solid blue;
 	font: small-caps 40px/40px "Times New Roman", serif;
 	color: MintCream;
 	text-align: center;
 	img {
 		float: left;
 	}
}

footer {
	text-align: center;
	background: blue;
	font-size: small;
	padding: 1px;
}

#columns {
 	background: red;
 	#main {
 		margin-left: 17em;
 		padding: 1em;
 		background: PeachPuff;
 	}
	#side {
 		float: left;
 		padding: 1em 2em;
 		width: 13em;
 		background: SandyBrown;
 		ul {
 			padding: 0;
 			li {
 				list-style: none;
 				a {
 					color: MintCream;
 					font-size: small;
 				}
 			}
 		}
 		form, div {
 			display: inline;
 		}

 		input {
 			font-size: small;
 		}

 		#considering {
 			h2 {
 				text-align: center;
 			}
 			font-size: smaller;
 			color: MintCream;
 			table {
 				width: 100%;
 				text-align: center;
 				border-top: 1px dotted #FFF;
 				border-bottom: 1px dotted #FFF;
 				margin-bottom: 10px;
 			}
 		}
 	}
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;

  .asc {
  	background-image: url(/images/up_arrow.png);
  }

  .desc {
  	background-image: url(/images/down_arrow.png);
  }
}
