<h1>Congratulations!</h1>
<br />
<p>Thank you so much for agreeing to take good care of <%= @selected_pet.name %>!</p>
<br />
<p>We'll be in touch shortly to discuss the details (or we would, if this we're a real site)</p>

<%= link_to "Back to Home", root_path %>