body {
  font: 100% Helvetica, sans-serif;
}

#top-bar {
  background-color: blue;
  height: 85px;
}

.title {
  font-size: 150%;
  margin-left: 25px;
  height: 50px;
  margin-top: 5px;
    color: white;
}

option.head {
    selected:selected;
    display:none;
    disabled:disabled;
}

table,th,td
{
border:1px solid black;
border-collapse:collapse
}

/*sticky footer, text located in the center*/
#footer {
  text-align: center;
}
#footer html, #footer body {
  height: 100%;
}
#footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -20px;
}
#footer #root #root_footer {
  height: 20px;
}
#footer #footer {
  clear: both;
  position: relative;
  height: 20px;
}
